{%extends 'base.html'%}
 {% block inst %}
<div class="instructions page-con">
  <h1>Manuscript Templates csjit 2022 Proceedings</h1>
  <p>
    MS Word and pdf templates csjit 2022 conference papers (US-letter or A4 page
    size) are provided at:
    
    http://www.ieee.org/conferences_events/conferences/publishing/templates.html
    
    Important csjit Policy Announcement* Papers are reviewed on the basis that
    they do not contain plagiarized material and have not been submitted to any
    other conference at the same time (double submission). These matters are
    taken very seriously and the csjit will take action against any author who
    has engaged in either practice.
  </p>
  <h2>FEES DETAILS:-</h2>
  <P> 1000/- per paper request.</P>
  <h2>CSJIT Web Page on Double Submission:</h2>
  <p>
    To be published in the csjit 2021 Conference Proceedings and csjit Xplore,
    the author of an accepted paper is required to register for the conference
    at the FULL or LIMITED (member or non-member) rate.
     Non-refundable registration fees must be paid prior to uploading the final csjit formatted,
    publication-ready version of the paper. Accepted papers will be published in
    the csjit 2021 Conference Proceedings.
  </p>
  <h2>Final Paper Guidelines</h2>
  <p>
    The final paper should be written in English with a maximum paper length of
    eight printed pages including figures.
  </p>
  <h2>CSJIT PDF eXpress® Account</h2>
  <p>
    PDF Express account for ICEICT 2021 will open on ……………..
    You may also use csjit PDF Express site for converting your manuscript to csjit compatible pdf
    format. Please follow the below guidelines:
  </p>
  <h2>Creating your csjit PDF eXpress® Account</h2>
  <p>
    First, Login at the Main Page and click on

    “New Users – Click here”. Next, fill in your: Conference ID (Will be
    updated) Email address (csjit PDF eXpress® will send notices to this address)
    Repeat email address (for confirmation) New password (you will be asked to
    confirm this password on the next screen)
     Click Continue, and fill in the required information. The phone number is especially important, if a problem
    arises with email or internet systems.
     Click Continue, and you should see the account confirmation on screen. You will also receive an email
    confirming the account setup.
     If you do not receive this email within 24 hours, contact PDFSupport@ieee.org. Once you have created your account, you
    can login anytime to submit PDFs for Checking, or source files for
    Conversion to PDF.
  </p>
  <h2>Uploading Files</h2>
  <p>
    Login to your account, and click on the “Create New Title” button, located
    beneath the Title Status Table.
     Enter the title of your submission in the field provided, and then click either “Submit file for Checking or
    Converting”. The next screen will allow you to upload your file. At any
    time, you may alternate between submitting PDFs and source files for one
    title, up to the maximum number of Checks and Conversions allotted per
    title.
    Never submit a revision to an existing title by clicking Create New
    Title. 
    If you use up all of your Checks and Conversions for a title, contact
    PDFSupport@ieee.org.
  </p>
  <h2>Revising your Submission</h2>
  <p>
    Click on the “Try Again” link for the paper you want to change. Remember
    that you may submit either a PDF or source file(s), until you reach the
    maximum PDF Checks/Source File Conversions, for that title.
     If you reach both maximums for a title.
      Never Create a New Title for a submission already in the csjit PDF eXpress® database!
  </p>
</div>
{% endblock %}
