{% extends 'base.html' %}
{% block topics %}
<div class="topics page-con">
<h1>Computer Science (CS)</h1>
<li>Geo-informative Systems</li>
<li>Grid Computing</li>
<li>Pervasive Computing</li>
<li>Digital Image and Video Processing</li>
<li>Computer Vision and Image Analysis</li>
<li>Data Mining and Cloud Computing</li>
<li>Computer Architecture</li>
<li>Computer Networks</li>
<li>Distributed Computing</li>
<li>Artificial Intelligence & Soft Computing</li>
<li>Optimization Techniques</li>
<li>Human-Computer Interaction</li>
<li>Theoretical Computer Science</li>
<li>Computer Applications</li>
<li>Expert Systems</li>
</div>
{% endblock  %}